.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

.idea
**/dist
**/node_modules

__codegen/sources
_site
_wiki
_data
template/assets/files
template/assets/generated
template/assets/resources
template/assets/js/fhir-structure-definition-viewer.js
__source

